@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*---------------  color section*/

.titleSectionBGcolor {
    background-color: #0e351d
}

.navBar {
    background-color: #0e351d;   
}

/*---------------  General bootstrap override */

.row {
    margin: 0;
}

.btn-primary {
    color: yellow;
    background-color: black;
    border-color: #fafafa;
}

.badge-dark {
    color: yellow;
    background-color: black;
}

/*---------------  General rules */

.sectionHeading {
    font-family: "Roboto" sans-serif;
    font-weight: 500;
}

.sectionSubheading {
    font-family: "Exo" sans-serif;
    font-weight: 300;
}

.sectionHeading p {
    font-family: "Exo" sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.inlineBlock {
    display: inline-block;
}

.block {
    display: block;
}

.homeBlock {
    margin: 0 15%;
}

.rowBot {
    margin-bottom: 50px;
    margin-top: 75px;
}

/*---------------  hover.css effects */

.hvr-sweep-to-right:before {
        background: rgba(154, 184, 20, 0.3)
}

/*---------------  Header */

.titleSectionBGcolor .sectionHeading {
    color: #fafafa
}

.titleSectionBGcolor .sectionSubheading {
    color: #fafafa
}

.titleSection {
    padding-top: 30px;
    padding-bottom: 30px;
}

.bannerImage {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 85%;
    height: 350px;
}

.navContainer {
    margin: 0;
    background-color: #0e351d;
}

.list-inline-item {
    margin: 5px,0;
}

.menuItem {
    display: inline-block;
    position: relative;
    width: 220px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
    background-color: #0e351d;
    text-align: center;
    border: solid yellow 1px;
}

.menuItem a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
}

.menuItem a span {
    font-size: 26px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
}

.activeItem {
    display: inline-block;
    position: relative;
    width: 220px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0;
    background-color: black;
    text-align: center;
    border: solid white 1px;
}

.activeItem a {
    width: 100%;
    text-decoration: none;
    color: yellow;
}


/*---------------  Footer */

footer {
    background-color: #0e351d;
    color: #fafafa;
    min-height: 100px;
    margin: 0;    
}

footer p {
    margin-top: 10px;
    text-align: center; 
}

.socialMediaLinks {
    margin: 10px 0;
}

.socialMediaLinks li a i {
    width: 40px;
    height: 40px;
    padding: 10px 10px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    color: #fafafa;
    background: #236915
}

.socialMediaLinks li a i:hover {
    background: black;  
    color: yellow;
}

#footerRow {
    padding-top: 20px;
}


/*---------------  Home Section */

.jumbotron {
    margin: 20px auto;
    width: 75%;
    background: #f3e300
}

.jumbotron .display-4 {
    text-align: center;
}

.jumbotron p {
    align-content: center;
    width: 80%;
    margin: auto;
}

.jumbotron ul {
    list-style-type: none;
    margin-left: 5%;
}



#homeImage {
    display: block;
    margin: auto;
    width: 80%;
}

/*---------------  About Section */

#ruleImg {
    height: 400px;
    display: block;
    margin: 0 auto;
}

#rulesList li {
    margin: 10px 0;
}

.historySection {
    padding-right: 10%;
    padding-left: 10%;
}

#trackImage {
    display: block;
    height: 300px;
    width: 70%;
    margin: auto;
}

/*---------------  Event Section */

.alert {
    margin-bottom: 0;
}

.alert p {
    margin-top: 5px;
}

#eventImg {
    height: 400px;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 0;
}

/*---------------  Price Section */

.priceColumn {
    background-color: rgba(246, 255, 51, 0.9);
    color: red;
    margin-bottom: 20px;
}

#priceHeading {
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 900;
    letter-spacing: 3px;
}

.categoryList {
    list-style: none;
    padding-left: 15%;
}

.categoryList li {
    padding: 5px 0;
    font-size: 18px;
    font-weight: 400;
}


.priceListItem {
    font-size: 18px;
    text-decoration: underline;
}

.priceList ul {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
}

.priceList ul li {
    padding-top: 2px;
    padding-bottom: 2px;
}

#priceImg {
    display: block;
    height: 400px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}


/*---------------  Contact Section */

.contactForm {
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #0e351d;
}

.contactForm h2 {
    color: #fafafa;
    padding-top: 10px;
    padding-bottom: 20px;
}

.contactForm label {
    color: #fafafa;
    padding-top: 5px;
}

#emailHelp {
    color: #fafafa;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contactForm .btn {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}





